.action-icon {
    color: #696763;
}

.action-icon:hover {
    color: #fdb45e;
}

.action-icon:not(:last-child) {
    padding-right: 8px;
}

#footer {
    background: #F0F0E9;
    min-height: 60px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-nav{
    margin: 20px 0px;
    padding: 0px;
    text-align: center;
}
.footer-nav li{
    display: inline-block;
    margin-right: 26px;
}


.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    height: 16px;
    display: inline-block;
    width: auto;
}

.radio+.radio, .checkbox+.checkbox {
    margin-top: 10px;
}

.header_top{
    position: fixed;
    width: 100%;
    clear: both;
}

.table.table{
    margin-top: 30px;
}
